.post {
  width: 250px;
  margin: 10px;
  padding: 25px 10px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 1px 1px gray;
          box-shadow: 1px 1px 1px 1px gray;
}

.post h1 {
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
}
/*# sourceMappingURL=post.css.map */