.post
    width: 250px
    margin: 10px
    padding: 25px 10px
    text-align: center
    box-shadow: 1px 1px 1px 1px gray
    h1 
        font-weight: 700
        font-size: 18px
        text-transform: capitalize