.new-post {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #eee;
  -webkit-box-shadow: 0 2px 3px #ccc;
          box-shadow: 0 2px 3px #ccc;
  text-align: center;
}

.new-post label {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
}

.new-post input, .new-post textarea, .new-post select {
  display: block;
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  font: inherit;
  margin: auto;
}

.new-post button {
  margin: 5px 0;
  padding: 10px;
  font: inherit;
  border: 1px solid #fa923f;
  background-color: transparent;
  color: #fa923f;
  cursor: pointer;
}
/*# sourceMappingURL=newPost.css.map */